body
{	
	background-color:lightgreen;
}

div 
{	
	font-size:20pt;
	color:red;
	font-family:arial;
	text-align:center;
	width:30%
}

p
{	
	font-size:18pt;
	color:black;
	font-weight:bold;
	align:center;
	font-family:arial;
}

name
{
	font-family:Algerian;
}
			
.double{border-style:double}
			
.dashed{border-style:dashed}